body{
    background-image: url(background.jpeg);
    background-repeat: no-repeat; /* CSS 1.0 */
    background-size: 100%; /* CSS 3.0 */
    font-family: Tahoma;
    font-size: 1em;
}
h3{
    font-size: 3rem;
}
.czgarden:hover{
    background-color: #bbb;
}
.ccademy {
    position: relative;
    top: 100px;
    left: 100px;
    width: 10%;
}